body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    color: #4CAF50; /* Green color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.background {
    background-color: black; /* Set initial background color */
}

